@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@font-face {
  font-family: quranfont;
  src: url(KFGQPCUthmanicScriptHAFS.otf);
}
* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo-bold;
  outline: 0;
}
body {
  direction: rtl;
  scroll-behavior: smooth;
}
ul li {
  list-style: none;
}
.container {
width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
}
section {
  padding: 70px 0;
}
section h3 {
  font-size: 36px;
  text-align: center;
  color: #494949;
  margin-bottom: 50px;
  position: relative;
  font-family: 'Vazirmatn';
}
section h3::after,
section h3::before {
  content: "";
  position: absolute;
  left: 50%;
  background-color: rgb(69 69 69 / 14%);
  height: 2px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
section h3::after {
  width: 50px;
  bottom: -10px;
}
section h3::before {
  width: 100px;
  bottom: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.header .container {
  border-bottom: 1px solid #ffffff17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  color: #fff;
}
.header.active {
  background-color: rgba(0, 0, 0, 0.6);
}
.header.active .container {
  height: 80px;
}
.header ul {
  display: flex;
}
.header ul li {
  position: relative;
  cursor: pointer;
}
.header ul li::after {
  content: "";
  width: 0;
}
.header ul li.active::after,
.header ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  width: 100%;
}
.header .bars {
  display: none;
}
.header li {
  font-family: vazirmatn;
  margin: 0 15px;
  font-size: 19px;}
.header .logo {
  font-family: thuluth-decorated;
  font-size: 55px;
  position: relative;
  bottom: 15px;
  cursor: pointer;
}
.main {
  background: url(mainbg.jpg) center center/cover no-repeat;
  padding: 0;
}
.main .container {
  background-color: rgba(40, 58, 94, 0.7);
  min-height: 100vh;
}
.main .title {
  position: sticky;
  top: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #fff;
}
.main .title h2 {
  font-family: 'quranfont';
  line-height: 1.9;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.title .btn {
  border: 2px solid #fff;
  background: 0 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  font-family: vazirmatn;
  padding: 4px 15px;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -ms-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;
  cursor: pointer;
}
.title .btn i {
  font-size: 25px;
  margin-right: 15px;
}
.title .btn::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0px;
  height: 100%;
  border-radius: 50px;
  transition: all 0.5s ease-in-out 0s;
  background: -webkit-gradient(linear, left top, right top, from(#00a7d5), to(#00ded8));
  z-index: -1;
}
.title .btn:hover {
  border-color: #09bfd0cf;
}
.title .btn:hover::after {
  width: 100%;
}
.iframe-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe2-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe3-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe4-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe5-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe6-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe7-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe8-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe9-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe10-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe11-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe12-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe13-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe14-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe15-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.iframe16-p{
  padding: 12px;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 20px;
}
.hadithContainer {
  min-height: 350px;
  position: relative;
  box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #d1d9e6 inset;
  color: #232323;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  padding-top: 70px;
}
.hadith .buttons div {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14) inset 0 7px 10px -5px rgba(76, 175, 88, 0.4);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.hadith .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.hadith .buttons .number {
  padding: 10px 20px;
  color: #43a047;
  background: 0 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 88, 0.4);
}
.lectures-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.lectures-container .left,
.lectures-container .right {
  width: 48%;
}
.lectures-container .right .lec {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background: #f0f0f0b8;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.lectures-container .right .lec:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.lec .lec-text {
  width: calc(100% - 150px);
  color: #232323;
}
.lec img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: auto;
  object-fit: cover;
}
.lec-text h4 {
  font-size: 19px;
}
.lec-text p {
  font-size: 16px;
}
.lectures-container .left iframe {
  width: 100%;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.circles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}
.circle1,
.circle2,
.circle3,
.circle4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #dabebe;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.circle1.active,
.circle2.active,
.circle3.active,
.circle4.active {
  border: 1px solid #00b8b3;
  background:-webkit-gradient(linear, left top, right top, from(#00a7d5), to(#00ded8));
}
.iframe10,
.iframe10-p,
.iframe11,
.iframe11-p,
.iframe12,
.iframe12-p,
.iframe13,
.iframe13-p,
.iframe14,
.iframe14-p,
.iframe15,
.iframe15-p,
.iframe16,
.iframe16-p,
.iframe2,
.iframe2-p,
.iframe3,
.iframe3-p,
.iframe4,
.iframe4-p,
.iframe5,
.iframe5-p,
.iframe6,
.iframe6-p,
.iframe7,
.iframe7-p,
.iframe8,
.iframe8-p,
.iframe9,
.iframe9-p,
.right2,
.right3,
.right4 {
  display: none;
}
.surahContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.surahContainer .surah {
  min-height: 100px;
  min-width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -ms-transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
  color: #232323;
  font-size: 17px;
  position: relative;
}
.surahContainer .surah:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.surahContainer .surah::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.surahContainer .surah::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.surahContainer .surah:hover::after,
.surahContainer .surah:hover::before {
  border-color: red;
  width: 100%;
  height: 100%;
}
.right .lec::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}


.surah-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.surah-popup.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: 0.5s transform ease-in-out;
  -webkit-transition: 0.5s transform ease-in-out;
  -moz-transition: 0.5s transform ease-in-out;
  -ms-transition: 0.5s transform ease-in-out;
  -o-transition: 0.5s transform ease-in-out;
}
.close-popup {
  position: sticky;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #121212;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -ms-transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
}
.close-popup:hover {
  background-color: rgba(76, 175, 88, 0.4);
}
.surah-popup .ayat {
  text-align: center;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 20px 40px 0;
  color: #121212;
}
.surah-popup .ayat p {
  line-height: 2;
  width: 100%;
  border-bottom: 2px solid #43a047;
  margin-bottom: 10px;
}
.pray .cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: 250px;
  min-height: 320px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 30px 20px;
  margin: 20px auto;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.cards .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.card .circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle svg {
  width: 210px;
  height: 210px;
}
.circle svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #43a047;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1100px;
  animation: dash 3s linear infinite;
  -webkit-animation: dash 10s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.circle .praytime {
  position: absolute;
  color: #43a047;
  font-size: 40px;
  font-family: cursive;
}
.card p {
  color: #43a047;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-family: cursive;
}
.footer {
  padding: 0;
}
.footer svg {
  fill: #43a047;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footer .social a {
  margin: 15px;
  font-size: 35px;
  color: #fff;
}
.scrollBtn {
  position: fixed;
  bottom: -50px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  background: -webkit-gradient(linear, left top, right top, from(#00a7d5), to(#00ded8));
  font-size: 25px;
  transition: 1s bottom ease-in-out;
  -webkit-transition: 1s bottom ease-in-out;
  -moz-transition: 1s bottom ease-in-out;
  -ms-transition: 1s bottom ease-in-out;
  -o-transition: 1s bottom ease-in-out;
  cursor: pointer;
}
.scrollBtn.active {
  bottom: 20px;
}
@media (max-width: 1024px) {
  .lectures-container .left,
  .lectures-container .right {
    width: 100%;
  }
  .header .bars {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }
  .header ul {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    transition: 1s transform ease-in-out;
    -webkit-transition: 1s transform ease-in-out;
    -moz-transition: 1s transform ease-in-out;
    -ms-transition: 1s transform ease-in-out;
    -o-transition: 1s transform ease-in-out;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    padding: 20px 0;
  }
  .header ul.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .header ul li.active::after,
  .header ul li:hover::after {
    display: none;
  }
  .surahContainer .surah {
    min-width: 150px;
  }
}

.shown::-webkit-scrollbar {
  display: none;
}
.intopwhymuslim{
  padding: 5px 20px 5px 20px;
  background: rgba(255, 255, 255, .25);
  border-radius: 50px;
  font-family: 'Vazirmatn' !important;
}
.intopwhymuslim p{
  font-family:vazirmatn;
  cursor: default;
  user-select: none;
}
.buttonsTo{
  display: flex;
}
.buttonsTo button{
  margin-left: 10px;
}
.left{
  background: #0F0F0F;
  color: white;
  border-radius: 10px;
}


@media only screen and (max-width: 425px) and (min-width: 1px){
  .buttonsTo{
    display: flex;
    flex-direction: column-reverse;
  }
  .title .btn{
    margin-bottom: 5px;
  }
}
label{
  display: inline-block;
  color: #0da755;
  font-family: quranfont !important;
}
.QuranPost{
  font-family: quranfont !important;
}
b{
  font-family: quranfont;
  font-weight: 500;
  color: #ff3335;
}
.banner-area{
  background: url("https://surahquran.com/img/h.png") #020148 left no-repeat;
  background-size: cover;
  position: relative;
}
.banner-area .overlay-bg {
  background-color: rgba(4,9,30,0.8);
}
.overlay{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.audioPlayer{
  display: block;
  border-radius: 20px;
  margin:0 auto;
}
#goBack{
  position: relative;
  text-align:center;
}
#goBack a{
  background: rgb(143 137 137 / 25%);
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
  text-decoration: none;
  font-family: 'Vazirmatn';
  color: #b11f1f;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #444553;
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #161925; 
  border-radius: 4px;
  height: 150px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161925; 
}

.footer {
  padding: 20px 0;
  background-color: #f6f4f4;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .dontforget {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Vazirmatn';
  color: #525252;
  font-size: 21px;
  font-weight: bold;
}

.surah-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: 'Vazirmatn';
  font-size: 50px;
  background: url(https://quranpedia.net/front/assets/new-design/surah-name.svg) no-repeat center;
  background-size: contain;
  margin: 20px 0;
}
.surahBox{
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  color: #000000e6;
  margin-right: 5px;
  background: #fbfbfb;
  text-align: right;
  padding: 5px 15px 10px 20px;
  box-shadow: 0px 5px 10px 2.5px rgb(0 0 0 / 22%);
  border-radius: 8px;
}
.surahBox p{
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 19px;
  cursor: default;
}
.readButton{
  width: 100%;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#00a7d5), to(#00ded8));
  font-family: 'Vazirmatn';
  cursor: pointer;
  font-size: 17px;
}
.surahBox:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.timer-section {
    padding: 30px 70px 30px 70px;
    background: -webkit-linear-gradient(1deg, rgb(234, 248, 254) 0%, rgb(237, 254, 244) 100%);
    position: relative;
}
.timer-num ul li {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 21px;
  border-radius: 10px;
}
.timer-num ul li:nth-child(1) {
  background: -moz-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  background: -webkit-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  background: -ms-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  position: relative;
  right: -70px;
  color: #02a0a5;
}
.timer-num ul li:nth-child(2) {
  background: -moz-linear-gradient(173deg, rgb(255, 173, 111, .25) 0%, rgb(255, 125, 144, .25) 100%);
  background: -webkit-linear-gradient(173deg, rgb(255, 173, 111, .25) 0%, rgb(255, 125, 144, .25) 100%);
  background: -ms-linear-gradient(173deg, rgb(255, 173, 111, .25) 0%, rgb(255, 125, 144, .25) 100%);
  color: #df8f73;
}
.timer-num ul li:nth-child(3) {
  background: -moz-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
  background: -webkit-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
  background: -ms-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
  position: relative;
  right: -70px;
  color: #6d64ff;
}
.timer-num ul li:nth-child(4) {
  background: -moz-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
  background: -webkit-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
  background: -ms-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
  color: #44a884;
}
.timer-num ul li:nth-child(5) {
  background: -moz-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
  background: -webkit-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
  background: -ms-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
  color: #ee76ba;
  position: relative;
  right: -70px;
}
.timer-num ul li:nth-child(6) {
  background: -moz-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  background: -webkit-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  background: -ms-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
  color: #419fa2;
  margin-bottom: 0;
}
.timer-num ul{
  margin-right: 40px;
}
.timer-text span {
  color: #494949d4;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 15px;
}
.timer-text p {
  color: #494949;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 18px;
}
.timer-text h2{
  color: #494949;
  font-family: 'Vazirmatn';
  font-weight: bold;
  font-size: 36px;
}

.audio-player {
  margin: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #80808033;
  border-radius: 8px;
  width: auto;
}
.audio-player p {
  margin-bottom: 7px;
  font-weight: bold;
  font-family: vazirmatn;
  font-size: 19px;
}

.audio-player audio {
  width: 100%;
}

.audio-player button {
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 75px;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Vazirmatn';
  font-size: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#00a7d5), to(#0accc7));
  font-weight: 400;
}

.audio-player button:hover {
  background-color: #0056b3;
}

.audio-player button:focus {
  outline: none;
}

/* Hide the speed options */
.audio-player audio::-webkit-media-controls-playback-rate-options {
  display: none !important;
}

.headerr{
  background: #141b4e;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.dark-mode {
  background-color: #090b10;
  color: white !important;
}
.otherCont{
  display: flex;
  justify-content: space-between;
  padding: 70px;
  padding-bottom: 0;
  padding-top: 10px;
}
.darkMode{
  border: 1px solid #80808033;
  background: transparent;
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #b11f1f;
  font-family: 'Vazirmatn';
  font-size: 16px;
  font-weight: bold;
}